.alert-enter,
.alert-appear {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active,
.alert-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-leave {
  opacity: 1;
  transform: scaleX(1) translateY(0);
}

.alert-leave-active {
  opacity: 01;
  transform: scaleX(0) translateY(100px);
  transition: all 300ms ease-in-out;
}
